@model IEnumerable<Azure_0517.Models.Report>
@{
    ViewBag.Title = "檢舉總覽";
}
<h3 style="margin-bottom:30px">商案申請</h3>
@Html.ActionLink("全選", "PartialCase", new { state = "all" }, new { @class = "far  btn btn-secondary", data_state = "all" })
@Html.ActionLink("未處理", "PartialCase", new { state = "false" }, new { @class = "far  btn btn-danger", data_state = "false" })
@Html.ActionLink("已處理", "PartialCase", new { state = "true" }, new { @class = "far  btn btn-primary", data_state = "true" })
<input type="hidden" id="category" value=all />
<table id="ProsecutionTable" class="table table-bordered table-hover" style="margin-top:30px">

    <thead>
        <tr>
            <th width="6%">申請編號</th>
            <th width="8%">@Html.DisplayNameFor(r => r.FirstOrDefault().Rep_CreatedDate)</th>
            <th width="10%">申請人</th>
            <th width="60%">商案需求</th>
            <th width="8%">處理狀態</th>
            <th width="4%">查看</th>
            <th width="4%">編輯狀態</th>
        </tr>
    </thead>
    <tbody>
        @*為什麼不直接用導覽屬性就好，要用viewmodel?*@
        @foreach (var report in Model)
        {
            <tr>
                <td>@Html.DisplayFor(r => report.Rep_ID)</td>
                <td>@Html.DisplayFor(r => report.Rep_CreatedDate)</td>
                <td>@Html.DisplayFor(r => report.Restaurant.Res_Name)</td>
                <td>@Html.DisplayFor(c => report.Rep_Content)</td>
                <td style="color:orangered">
                    @{
                        if (report.Rep_SolvedDate.HasValue)
                        {
                            <span style="color:blue">已處理 </span>
                        }
                        else
                        {
                            <span>未處理</span>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("商案撰寫", "BlogUpdate", "Member", new { id = report.Rep_NewsID }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @{
                        if (report.Rep_SolvedDate.HasValue)
                        {
                            @Html.ActionLink("案件重開", "ProsecutionSolved", "Administrator", new { id = report.Rep_ID, Solved = false }, new { @class = "btn  btn-danger restart", data_id = report.Rep_ID })
                        }
                        else
                        {
                            @Html.ActionLink("處理完成", "ProsecutionSolved", "Administrator", new { id = report.Rep_ID, Solved = true }, new { @class = "btn  btn-info finish", data_id = report.Rep_ID })
                        }
                    }
                </td>


            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).on('click', '.far', function () {
            event.preventDefault();
            if ($(this).data('state') != "all") {
                $("#ProsecutionTable").load('@Url.Action("PartialCase")?state=' + $(this).data('state'));
                $("#category").attr("value", $(this).data('state'));
                //這邊不知道為什麼用{ status: $(this).data('state')}會沒效果，有空回來研究一下
            }
            else {
                $("#ProsecutionTable").load('@Url.Action("PartialCase")')
                $("#category").attr("value", $(this).data('state'));
            }
    })
    $(document).on('click', '.restart', function () {
        console.log("restart")
        event.preventDefault();

        $.get('@Url.Action("ProsecutionSolved")', { id: $(this).data('id'), Solved: false }, function (data) {
            if ($("#category").val() == "all") {
                $("#ProsecutionTable").load('@Url.Action("PartialCase")');
            }
             if ($("#category").val() == "true") {
                 $("#ProsecutionTable").load('@Url.Action("PartialCase")?state=' + $("#category").val());
            }
             if ($("#category").val() == "false") {
                 $("#ProsecutionTable").load('@Url.Action("PartialCase")?state=' + $("#category").val());
            }
        });

    })

    $(document).on('click', '.finish', function () {
        console.log("finish")
        event.preventDefault();

        $.get('@Url.Action("ProsecutionSolved")', { id: $(this).data('id'), Solved: true }, function (data) {
            if ($("#category").val() == "all") {
                $("#ProsecutionTable").load('@Url.Action("PartialCase")');
            }
            if ($("#category").val() == "true") {
                $("#ProsecutionTable").load('@Url.Action("PartialCase")?state=' + $("#category").val());
            }
            if ($("#category").val() == "false") {
                $("#ProsecutionTable").load('@Url.Action("PartialCase")?state=' + $("#category").val());
            }
            });
    })
    </script>
}