@model IEnumerable<Azure_0517.Models.Report>






<thead>
    <tr>
        <th width="6%">檢舉編號</th>
        <th width="8%">@Html.DisplayNameFor(r => r.FirstOrDefault().Rep_CreatedDate)</th>
        <th width="8%">檢舉人</th>
        <th width="10%">@Html.DisplayNameFor(r => r.FirstOrDefault().AccuseType.RepTyp_Content)</th>
        <th width="50%">@Html.DisplayNameFor(r => r.Rep_Content)</th>
        <th width="12%">處理狀態</th>
        <th width="3%">查看</th>
        <th width="3%">編輯狀態</th>
    </tr>
</thead>
    <tbody>
        @*為什麼不直接用導覽屬性就好，要用viewmodel?*@
        @foreach (var report in Model)
        {
            <tr>
                <td>@Html.DisplayFor(r => report.Rep_ID)</td>
                <td>@Html.DisplayFor(r => report.Rep_CreatedDate)</td>
                @if (report.Rep_MemberID != null)
                {
                    <td>@Html.DisplayFor(r => report.Member.Mem_Name)</td>
                }
                @if (report.Restaurant != null)
                {
                    <td>@Html.DisplayFor(r => report.Restaurant.Res_Name)</td>
                }
                @if (report.Rep_AdministratorID != null)
                {
                    <td>@Html.DisplayFor(r => report.Member.Mem_Name)</td>
                }
                <td>@Html.DisplayFor(r => report.AccuseType.RepTyp_Content)</td>

                <td>@Html.DisplayFor(c => report.Rep_Content)</td>

                <td style="color:orangered">
                    @{
                        if (report.Rep_SolvedDate.HasValue)
                        {
                            <span style="color:blue">已處理 </span>
                        }
                        else
                        {
                            <span>未處理</span>
                        }
                    }
                </td>
                <td>
                    @{
                        if (report.Comment != null && report.Comment.News != null)
                        {
                            @Html.ActionLink("查看", "BlogPage", "Home", new { id = report.Rep_CommentID }, new { @class = "btn btn-primary" })
                        }
                        else if (report.Comment != null && report.Comment.Restaurant != null)
                        {
                            @Html.ActionLink("查看", "RestaurantHomePage", "Restaurant", new { id = report.Comment.Com_RestaurantID }, new { @class = "btn btn-primary" })
                        }
                        else if (report.News != null)
                        {
                            @Html.ActionLink("查看", "BlogPage", "Home", new { id = report.Rep_NewsID }, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            <a href="#">Link Lost</a>
                        }
                    }
                </td>
                <td>
                    @{
                        if (report.Rep_SolvedDate.HasValue)
                        {
                            @Html.ActionLink("案件重開", "ProsecutionSolved", "Administrator", new { id = report.Rep_ID, Solved = false }, new { @class = "btn  btn-danger restart", data_id = report.Rep_ID })
                        }
                        else
                        {
                            @Html.ActionLink("處理完成", "ProsecutionSolved", "Administrator", new { id = report.Rep_ID, Solved = true }, new { @class = "btn  btn-info finish", data_id = report.Rep_ID })
                        }
                    }
                </td>


            </tr>
        }
    </tbody>
